.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 80svh;
  padding: 10px;
  gap: 2rem;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.info {
  color: #333;
  border-right: 1px solid silver;
  padding-right: 1rem;
}

.list {
  list-style-position: inside;
  font-size: smaller;

  li {
    margin-top: 0.5rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;

  margin-bottom: 4rem;
}

.footer {
  margin-top: 1rem;
  text-align: center;
}
